# Ignore node modules
**/node_modules/

# Ignore environment files
**/.env

# Ignore log files
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore build and cache
**/dist/
**/.next/
**/.turbo/
.next/
.turbo/

# Ignore uploads (optional)
server/uploads/
